<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="website.petrov.browser">

    <!-- Permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Application -->
    <application
        android:name="website.petrov.browser.Browser"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:allowBackup="true"
        android:enabled="true"
        android:largeHeap="true"
        android:usesCleartextTraffic="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute">

        <!-- Holder -->
        <activity
            android:name="website.petrov.browser.activity.HolderActivity"
                  android:label="@string/app_name"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>

        </activity>

        <service
            android:name="website.petrov.browser.service.HolderService"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"/>

        <!-- BrowserActivity -->
        <activity
            android:name="website.petrov.browser.activity.BrowserActivity"
                  android:label="@string/app_name"
            android:launchMode="singleTask"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
                  android:theme="@style/AppTheme">

            <intent-filter
                android:icon="@mipmap/ic_launcher" >
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.WEB_SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER"/>

                <action android:name="sc_start_page" />
                <action android:name="sc_bookmark" />
                <action android:name="sc_history" />
            </intent-filter>

            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable"/>

            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <!-- Settings -->
        <activity
            android:name="website.petrov.browser.activity.SettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:label="@string/setting_label"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.BrowserActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="website.petrov.browser.activity.BrowserActivity" />

        </activity>

        <activity
            android:name="website.petrov.browser.activity.WhitelistAdBlock"
            android:label="@string/setting_title_whitelist"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.SettingsStartActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="website.petrov.browser.activity.SettingsStartActivity" />

        </activity>

        <activity
            android:name="website.petrov.browser.activity.WhitelistJavascript"
            android:label="@string/setting_title_whitelistJS"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.SettingsStartActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="website.petrov.browser.activity.SettingsStartActivity" />

        </activity>

        <activity
            android:name="website.petrov.browser.activity.WhitelistCookie"
            android:label="@string/setting_title_whitelistCookie"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.SettingsStartActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="website.petrov.browser.activity.SettingsStartActivity" />

        </activity>

        <activity
            android:name="website.petrov.browser.activity.SettingsClearActivity"
            android:label="@string/setting_title_clear_control"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.SettingsActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="website.petrov.browser.activity.SettingsActivity" />

        </activity>

        <activity
            android:name="website.petrov.browser.activity.SettingsStartActivity"
            android:label="@string/setting_title_start_control"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.SettingsActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="website.petrov.browser.activity.SettingsActivity" />

        </activity>

        <activity
            android:name="website.petrov.browser.activity.SettingsDataActivity"
            android:label="@string/setting_title_data"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.SettingsActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="website.petrov.browser.activity.SettingsActivity" />

        </activity>

        <activity
            android:name="website.petrov.browser.activity.SettingsUIActivity"
            android:label="@string/setting_title_ui"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.SettingsActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="website.petrov.browser.activity.SettingsActivity" />

        </activity>

        <activity
            android:name="website.petrov.browser.activity.SettingsGestureActivity"
            android:label="@string/setting_gestures"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.SettingsActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="website.petrov.browser.activity.SettingsActivity" />

        </activity>

        <!-- ClearService | Provider-->
        <service
            android:name="website.petrov.browser.service.ClearService"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="website.petrov.browser.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>

        </provider>

    </application>

</manifest>
